body {
	--max-width: 70%;
}

:root {
	--one-dot-six-line-height: 1.6;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	margin: 10% auto; /* 10% from the top and centered */
	padding: 20px;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* Mobile resolution below width 200px */
@media only screen
	and (min-device-width: 0px)
	and (max-device-width: 299px) {
	.text_size {
		font-size: 13px !important;
	}

	.image_size {
		max-width: 40vw;
	}

	.div_size {
		width: 100vw;
	}

	.header_size {
		width: 100vw;
	}

	.width_size {
		width: 100vw;
	}
}

/* Mobile resolution smaller */
@media only screen
	and (min-device-width: 300px)
	and (max-device-width: 512px) {
	.text_size {
		font-size: 15px !important;
	}

	.image_size {
		max-width: 40vw;
	}

	.header_size {
		width: 80vw;
	}

	.width_size {
		width: 60vw;
	}
}

/* Mobile resolution */
@media only screen
	and (min-device-width: 513px)
	and (max-device-width: 1024px) {
	.text_size {
		font-size: 17px !important;  /* h4 + 1 */
	}

	.image_size {
		max-width: 50vw;
	}

	.header_size {
		width: 80vw;
	}

	.width_size {
		width: 70vw !important;
	}
}

/* Computer resolution */
@media only screen
	and (min-device-width: 1025px) {

	.image_size {
		max-width: 50vw;
	}

	.header_size {
		width: 80vw;
	}

	.width_size {
		width: 60vw !important;
	}
}

.h2 {
	font-size: 24px !important;
}

.h4 {
	font-size: 16px !important;
}

.height_auto {
	height: auto;
}

/* Hide mobile elements on desktop */
.mobile {
	display: none;
}

.mobile_inline_block {
	display: none;
}

/* Show desktop elements on desktop */
.desktop {
	display: block;
}

@media only screen
	and (min-device-width: 0px)
	and (max-device-width: 1024px) {
	/* Show mobile elements on mobile */
	.mobile {
		display: block;
	}

	.mobile_inline_block {
		display: inline-block;
	}

	/* Hide mobile elements on desktop */
	.desktop {
		display: none;
	}
}

.border_1px {
	border-width: 1px!important;
	border-style: solid!important;
}

.border_2px {
	border-width: 2px!important;
	border-style: solid!important;
}

.border_3px {
	border-width: 3px!important;
	border-style: solid!important;
}

.border_4px {
	border-width: 4px!important;
	border-style: solid!important;
}

.border_5px {
	border-width: 5px!important;
	border-style: solid!important;
}

.width_10_cent {
	width: 10%;
}

.width_50_cent {
	width: 50%;
}

.width_100_cent {
	width: 100%;
}

.border_radius_1_cent {
	border-radius: 1%;
}

.border_radius_3_cent {
	border-radius: 3%;
}

.border_radius_5_cent {
	border-radius: 5%;
}

.border_radius_6_cent {
	border-radius: 6%;
}

.border_radius_8_cent {
	border-radius: 8%;
}

.border_radius_15_cent {
	border-radius: 15%;
}

.border_radius_30_cent {
	border-radius: 30%;
}

.border_radius_100_cent {
	border-radius: 100%;
}

.border_radius_50px {
	border-radius: 50px;
}

.border_radius_60px {
	border-radius: 60px;
}

.margin_10_cent {
	margin: 10%;
}

.margin_6_cent_auto {
	margin: 6% auto !important;
}

.margin_sides_5_cent {
	margin-left: 5%;
	margin-right: 5%;
}

.margin_sides_10_cent {
	margin-left: 10%;
	margin-right: 10%;
}

.margin_sides_20_cent {
	margin-left: 20%;
	margin-right: 20%;
}

.margin_sides_42_cent {
	margin-left: 42%;
	margin-right: 42%;
}

.margin_sides_45_cent {
	margin-left: 45%;
	margin-right: 45%;
}

.margin_top_bottom_2_cent {
	margin-top: 2%;
	margin-bottom: 2%;
}

.margin_top_bottom_3_cent {
	margin-top: 3%;
	margin-bottom: 3%;
}

.margin_bottom_2_cent {
	margin-bottom: 2%;
}

.margin_bottom_10_cent {
	margin-bottom: 10%;
}

.margin_bottom_20px {
	margin-bottom: 20px;
}

.transform_scale_2 {
	transform: scale(2);
}

.padding_bottom_1_cent {
	padding-bottom: 1%;
}

.padding_20px {
	padding: 20px;
}

.font_style_bold {
	font-style: bold;
}

.font_size_18_72px {
	font-size: 18.72px;
}

.font_size_20px {
	font-size: 20px;
}

.width_40_cent {
	width: 40%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
b {
	white-space: unset !important;
	line-height: var(--one-dot-six-line-height) !important;
}

b {
	font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

textarea {
	outline: none !important;
}

button:hover h2 span,
button:hover h4 span {
	color: black !important;
}

button:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: animation_shake_side 0.8s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite !important;
}

.animation_shake_side:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: animation_shake_side 0.8s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite !important;
}

@keyframes animation_shake_side {
	0% {
		transform: translateX(-10px);
	}

	50% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(-10px);
	} 
}

.underline_on_hover:hover {
	text-decoration: underline;
}