<body onLoad="Define_Colors_And_Styles();">
<center>

{$website_buttons}

{$website_notification}

{$change_website_title_script}

<!-- Website header -->
{$zoom_animation}

<!-- Website computer title -->
<{$h2} class="w3-center {$first_text_color} {$zoom_animation_class} {$computer_variable}">
<p><br /><b>{$title_with_icon}</b><br /><br /><p>
</{$h2}>
</div>

<!-- Website mobile title -->
{$zoom_animation}
<{$h4} class="w3-center {$first_text_color} {$zoom_animation_class} {$mobile_variable}">
<p><br /><b>{$title_with_icon}</b><br /><br /><p>
</{$h4}>
</div>
{$header_hr}

<!-- Website Images -->
<div class="w3-center">
{$website_images_variable}</div>

{$header_hr}\n