<!-- Chapter tab for "{$chapter_tab['chapter_title']}" chapter -->
<a id="{$chapter_tab['id']}_anchor" name="{$chapter_tab['chapter_title']}"></a>
<div id="{$chapter_tab['id']}" class="tab {$chapter_tab['class']}" style="height: auto; border-style: solid; border-radius: 50px; padding-bottom: {$chapter_tab['padding']}; margin-bottom: 2%; display: none;{$chapter_tab['style']}">
	<!-- Chapter title top -->
	<h2 class="text_size">
		<p><br /><b>{$chapter_tab["you_are_reading"]}</b><br /><br /><p>
	</h2>

	{$chapter_tab["comment"]}
	<div class="margin_sides_5_cent">
		{$website["elements"]["hr_1px_no_margin"]["theme"][$website["Style"]["border_color"]]}
		{$chapter_tab["top_button"]}

		<br /><br /><br />

		{if="isset($chapter_tab['chapter_cover'])"}
{$chapter_tab["chapter_cover"]}
{/if}
		<!-- Chapter text -->
		<h4 id="{$chapter_tab['id']}_text" class="text_size unselectable{$chapter_tab['chapter_text_color']}" style="text-align: left;">
		{$chapter_tab["chapter_text"]}
		</h4>
		{$chapter_tab["bottom_button"]}

		<br /><br /><br />

	</div>

	<br class="mobile_inline_block" /><br class="mobile_inline_block" />

	<!-- Chapter title bottom -->
	<h3 class="text_size">
		<p><br /><b>{$chapter_tab["you_read"]}</b><br /><br /><p>
	</h3>
{if="isset($chapter_tab['additional_elements'])"}
{$chapter_tab["additional_elements"]}
{/if}
	<br /><br />
</div>