body {
	--grey-color: grey;
	--white-color: white;
	--black-color: black;
	--red-color: #f44336;
	--dark-red-color: #790e06;
	--blue-color: #2196F3;
	--darker-blue-color: #349EF4;
	--dark-blue-color: #07518D;
	--super-dark-blue-color: #053861;
	--cyan-color: #00bcd4;
	--green-color: #4CAF50;
	--green-water-color: #86ffe6;
	--dark-green-water-color: #153e43;
	--orange-color: orange;
	--yellow-color: #ffeb3b;
	--yellow-sand-color: #ffffb3;
	--light-brown-color: #e0a448;
	--brown-color: #b88e50;
	--darker-brown-color: #916f3b;
	--dark-brown-color: #261804;
	--pink-color: #ff0080;
	--dark-pink-color: #440b28;
	--salmon-color: #f2858c;
	--dark-salmon-color: #c26e73;
	--darker-salmon-color: #854d51;
	--light-salmon-color: #f1858d;
	--purple-color: #9425a7;
	--second-purple-color: #b56bcc;
	--second-dark-purple-color: #8d53a0;
	--darker-purple-color: #623b6f;
	--light-purple-color: #dc96e8;
	--light-cyan-color: #5cc6ca;
	--darker-light-cyan-color: #35a6aa;
	--dark-cyan-color: #257c7f;
}

.border_1px_solid_grey {
	border: 1px solid var(--grey-color);
}

.border_1px_solid_white {
	border: 1px solid var(--white-color);
}

.border_1px_solid_black {
	border: 1px solid var(--black-color);
}

.border_1px_solid_red {
	border: 1px solid var(--red-color);
}

.border_1px_solid_dark_red {
	border: 1px solid var(--dark-red-color);
}

.border_1px_solid_blue {
	border: 1px solid var(--blue-color);
}

.border_1px_solid_darker_blue {
	border: 1px solid var(--darker-blue-color);
}

.border_1px_solid_dark_blue {
	border: 1px solid var(--dark-blue-color);
}

.border_1px_solid_super_dark_blue {
	border: 1px solid var(--super-dark-blue-color);
}

.border_1px_solid_cyan {
	border: 1px solid var(--cyan-color);
}

.border_1px_solid_green {
	border: 1px solid var(--green-color);
}

.border_1px_solid_green_water {
	border: 1px solid var(--green-water-color);
}

.border_1px_solid_dark_green_water {
	border: 1px solid var(--dark-green-water-color);
}

.border_1px_solid_orange {
	border: 1px solid var(--orange-color);
}

.border_1px_solid_yellow {
	border: 1px solid var(--yellow-color);
}

.border_1px_solid_yellow_sand {
	border: 1px solid var(--yellow-sand-color);
}

.border_1px_solid_light_brown {
	border: 1px solid var(--light-brown-color);
}

.border_1px_solid_brown {
	border: 1px solid var(--brown-color);
}

.border_1px_solid_darker_brown {
	border: 1px solid var(--darker-brown-color);
}

.border_1px_solid_dark_brown {
	border: 1px solid var(--dark-brown-color);
}

.border_1px_solid_pink {
	border: 1px solid var(--pink-color);
}

.border_1px_solid_dark_pink {
	border: 1px solid var(--dark-pink-color);
}

.border_1px_solid_salmon {
	border: 1px solid var(--salmon-color);
}

.border_1px_solid_dark_salmon {
	border: 1px solid var(--dark-salmon-color);
}

.border_1px_solid_darker_salmon {
	border: 1px solid var(--darker-salmon-color);
}

.border_1px_solid_light_salmon {
	border: 1px solid var(--light-salmon-color);
}

.border_1px_solid_purple {
	border: 1px solid var(--purple-color);
}

.border_1px_solid_second_purple {
	border: 1px solid var(--second-purple-color);
}

.border_1px_solid_second_dark_purple {
	border: 1px solid var(--second-dark-purple-color);
}

.border_1px_solid_darker_purple {
	border: 1px solid var(--darker-purple-color);
}

.border_1px_solid_light_purple {
	border: 1px solid var(--light-purple-color);
}

.border_1px_solid_light_cyan {
	border: 1px solid var(--light-cyan-color);
}

.border_1px_solid_darker_light_cyan {
	border: 1px solid var(--darker-light-cyan-color);
}

.border_1px_solid_dark_cyan {
	border: 1px solid var(--dark-cyan-color);
}.border_3px_solid_grey {
	border: 3px solid var(--grey-color);
}

.border_3px_solid_white {
	border: 3px solid var(--white-color);
}

.border_3px_solid_black {
	border: 3px solid var(--black-color);
}

.border_3px_solid_red {
	border: 3px solid var(--red-color);
}

.border_3px_solid_dark_red {
	border: 3px solid var(--dark-red-color);
}

.border_3px_solid_blue {
	border: 3px solid var(--blue-color);
}

.border_3px_solid_darker_blue {
	border: 3px solid var(--darker-blue-color);
}

.border_3px_solid_dark_blue {
	border: 3px solid var(--dark-blue-color);
}

.border_3px_solid_super_dark_blue {
	border: 3px solid var(--super-dark-blue-color);
}

.border_3px_solid_cyan {
	border: 3px solid var(--cyan-color);
}

.border_3px_solid_green {
	border: 3px solid var(--green-color);
}

.border_3px_solid_green_water {
	border: 3px solid var(--green-water-color);
}

.border_3px_solid_dark_green_water {
	border: 3px solid var(--dark-green-water-color);
}

.border_3px_solid_orange {
	border: 3px solid var(--orange-color);
}

.border_3px_solid_yellow {
	border: 3px solid var(--yellow-color);
}

.border_3px_solid_yellow_sand {
	border: 3px solid var(--yellow-sand-color);
}

.border_3px_solid_light_brown {
	border: 3px solid var(--light-brown-color);
}

.border_3px_solid_brown {
	border: 3px solid var(--brown-color);
}

.border_3px_solid_darker_brown {
	border: 3px solid var(--darker-brown-color);
}

.border_3px_solid_dark_brown {
	border: 3px solid var(--dark-brown-color);
}

.border_3px_solid_pink {
	border: 3px solid var(--pink-color);
}

.border_3px_solid_dark_pink {
	border: 3px solid var(--dark-pink-color);
}

.border_3px_solid_salmon {
	border: 3px solid var(--salmon-color);
}

.border_3px_solid_dark_salmon {
	border: 3px solid var(--dark-salmon-color);
}

.border_3px_solid_darker_salmon {
	border: 3px solid var(--darker-salmon-color);
}

.border_3px_solid_light_salmon {
	border: 3px solid var(--light-salmon-color);
}

.border_3px_solid_purple {
	border: 3px solid var(--purple-color);
}

.border_3px_solid_second_purple {
	border: 3px solid var(--second-purple-color);
}

.border_3px_solid_second_dark_purple {
	border: 3px solid var(--second-dark-purple-color);
}

.border_3px_solid_darker_purple {
	border: 3px solid var(--darker-purple-color);
}

.border_3px_solid_light_purple {
	border: 3px solid var(--light-purple-color);
}

.border_3px_solid_light_cyan {
	border: 3px solid var(--light-cyan-color);
}

.border_3px_solid_darker_light_cyan {
	border: 3px solid var(--darker-light-cyan-color);
}

.border_3px_solid_dark_cyan {
	border: 3px solid var(--dark-cyan-color);
}.border_4px_solid_grey {
	border: 4px solid var(--grey-color);
}

.border_4px_solid_white {
	border: 4px solid var(--white-color);
}

.border_4px_solid_black {
	border: 4px solid var(--black-color);
}

.border_4px_solid_red {
	border: 4px solid var(--red-color);
}

.border_4px_solid_dark_red {
	border: 4px solid var(--dark-red-color);
}

.border_4px_solid_blue {
	border: 4px solid var(--blue-color);
}

.border_4px_solid_darker_blue {
	border: 4px solid var(--darker-blue-color);
}

.border_4px_solid_dark_blue {
	border: 4px solid var(--dark-blue-color);
}

.border_4px_solid_super_dark_blue {
	border: 4px solid var(--super-dark-blue-color);
}

.border_4px_solid_cyan {
	border: 4px solid var(--cyan-color);
}

.border_4px_solid_green {
	border: 4px solid var(--green-color);
}

.border_4px_solid_green_water {
	border: 4px solid var(--green-water-color);
}

.border_4px_solid_dark_green_water {
	border: 4px solid var(--dark-green-water-color);
}

.border_4px_solid_orange {
	border: 4px solid var(--orange-color);
}

.border_4px_solid_yellow {
	border: 4px solid var(--yellow-color);
}

.border_4px_solid_yellow_sand {
	border: 4px solid var(--yellow-sand-color);
}

.border_4px_solid_light_brown {
	border: 4px solid var(--light-brown-color);
}

.border_4px_solid_brown {
	border: 4px solid var(--brown-color);
}

.border_4px_solid_darker_brown {
	border: 4px solid var(--darker-brown-color);
}

.border_4px_solid_dark_brown {
	border: 4px solid var(--dark-brown-color);
}

.border_4px_solid_pink {
	border: 4px solid var(--pink-color);
}

.border_4px_solid_dark_pink {
	border: 4px solid var(--dark-pink-color);
}

.border_4px_solid_salmon {
	border: 4px solid var(--salmon-color);
}

.border_4px_solid_dark_salmon {
	border: 4px solid var(--dark-salmon-color);
}

.border_4px_solid_darker_salmon {
	border: 4px solid var(--darker-salmon-color);
}

.border_4px_solid_light_salmon {
	border: 4px solid var(--light-salmon-color);
}

.border_4px_solid_purple {
	border: 4px solid var(--purple-color);
}

.border_4px_solid_second_purple {
	border: 4px solid var(--second-purple-color);
}

.border_4px_solid_second_dark_purple {
	border: 4px solid var(--second-dark-purple-color);
}

.border_4px_solid_darker_purple {
	border: 4px solid var(--darker-purple-color);
}

.border_4px_solid_light_purple {
	border: 4px solid var(--light-purple-color);
}

.border_4px_solid_light_cyan {
	border: 4px solid var(--light-cyan-color);
}

.border_4px_solid_darker_light_cyan {
	border: 4px solid var(--darker-light-cyan-color);
}

.border_4px_solid_dark_cyan {
	border: 4px solid var(--dark-cyan-color);
}.border_color_grey {
	border-color: var(--grey-color);
}

.border_color_white {
	border-color: var(--white-color);
}

.border_color_black {
	border-color: var(--black-color);
}

.border_color_red {
	border-color: var(--red-color);
}

.border_color_dark_red {
	border-color: var(--dark-red-color);
}

.border_color_blue {
	border-color: var(--blue-color);
}

.border_color_darker_blue {
	border-color: var(--darker-blue-color);
}

.border_color_dark_blue {
	border-color: var(--dark-blue-color);
}

.border_color_super_dark_blue {
	border-color: var(--super-dark-blue-color);
}

.border_color_cyan {
	border-color: var(--cyan-color);
}

.border_color_green {
	border-color: var(--green-color);
}

.border_color_green_water {
	border-color: var(--green-water-color);
}

.border_color_dark_green_water {
	border-color: var(--dark-green-water-color);
}

.border_color_orange {
	border-color: var(--orange-color);
}

.border_color_yellow {
	border-color: var(--yellow-color);
}

.border_color_yellow_sand {
	border-color: var(--yellow-sand-color);
}

.border_color_light_brown {
	border-color: var(--light-brown-color);
}

.border_color_brown {
	border-color: var(--brown-color);
}

.border_color_darker_brown {
	border-color: var(--darker-brown-color);
}

.border_color_dark_brown {
	border-color: var(--dark-brown-color);
}

.border_color_pink {
	border-color: var(--pink-color);
}

.border_color_dark_pink {
	border-color: var(--dark-pink-color);
}

.border_color_salmon {
	border-color: var(--salmon-color);
}

.border_color_dark_salmon {
	border-color: var(--dark-salmon-color);
}

.border_color_darker_salmon {
	border-color: var(--darker-salmon-color);
}

.border_color_light_salmon {
	border-color: var(--light-salmon-color);
}

.border_color_purple {
	border-color: var(--purple-color);
}

.border_color_second_purple {
	border-color: var(--second-purple-color);
}

.border_color_second_dark_purple {
	border-color: var(--second-dark-purple-color);
}

.border_color_darker_purple {
	border-color: var(--darker-purple-color);
}

.border_color_light_purple {
	border-color: var(--light-purple-color);
}

.border_color_light_cyan {
	border-color: var(--light-cyan-color);
}

.border_color_darker_light_cyan {
	border-color: var(--darker-light-cyan-color);
}

.border_color_dark_cyan {
	border-color: var(--dark-cyan-color);
}.background_grey {
	background-color: var(--grey-color);
}

.background_white {
	background-color: var(--white-color);
}

.background_black {
	background-color: var(--black-color);
}

.background_red {
	background-color: var(--red-color);
}

.background_dark_red {
	background-color: var(--dark-red-color);
}

.background_blue {
	background-color: var(--blue-color);
}

.background_darker_blue {
	background-color: var(--darker-blue-color);
}

.background_dark_blue {
	background-color: var(--dark-blue-color);
}

.background_super_dark_blue {
	background-color: var(--super-dark-blue-color);
}

.background_cyan {
	background-color: var(--cyan-color);
}

.background_green {
	background-color: var(--green-color);
}

.background_green_water {
	background-color: var(--green-water-color);
}

.background_dark_green_water {
	background-color: var(--dark-green-water-color);
}

.background_orange {
	background-color: var(--orange-color);
}

.background_yellow {
	background-color: var(--yellow-color);
}

.background_yellow_sand {
	background-color: var(--yellow-sand-color);
}

.background_light_brown {
	background-color: var(--light-brown-color);
}

.background_brown {
	background-color: var(--brown-color);
}

.background_darker_brown {
	background-color: var(--darker-brown-color);
}

.background_dark_brown {
	background-color: var(--dark-brown-color);
}

.background_pink {
	background-color: var(--pink-color);
}

.background_dark_pink {
	background-color: var(--dark-pink-color);
}

.background_salmon {
	background-color: var(--salmon-color);
}

.background_dark_salmon {
	background-color: var(--dark-salmon-color);
}

.background_darker_salmon {
	background-color: var(--darker-salmon-color);
}

.background_light_salmon {
	background-color: var(--light-salmon-color);
}

.background_purple {
	background-color: var(--purple-color);
}

.background_second_purple {
	background-color: var(--second-purple-color);
}

.background_second_dark_purple {
	background-color: var(--second-dark-purple-color);
}

.background_darker_purple {
	background-color: var(--darker-purple-color);
}

.background_light_purple {
	background-color: var(--light-purple-color);
}

.background_light_cyan {
	background-color: var(--light-cyan-color);
}

.background_darker_light_cyan {
	background-color: var(--darker-light-cyan-color);
}

.background_dark_cyan {
	background-color: var(--dark-cyan-color);
}.background_hover_grey:hover {
	background-color: var(--grey-color);
}

.background_hover_white:hover {
	background-color: var(--white-color);
}

.background_hover_black:hover {
	background-color: var(--black-color);
}

.background_hover_red:hover {
	background-color: var(--red-color);
}

.background_hover_dark_red:hover {
	background-color: var(--dark-red-color);
}

.background_hover_blue:hover {
	background-color: var(--blue-color);
}

.background_hover_darker_blue:hover {
	background-color: var(--darker-blue-color);
}

.background_hover_dark_blue:hover {
	background-color: var(--dark-blue-color);
}

.background_hover_super_dark_blue:hover {
	background-color: var(--super-dark-blue-color);
}

.background_hover_cyan:hover {
	background-color: var(--cyan-color);
}

.background_hover_green:hover {
	background-color: var(--green-color);
}

.background_hover_green_water:hover {
	background-color: var(--green-water-color);
}

.background_hover_dark_green_water:hover {
	background-color: var(--dark-green-water-color);
}

.background_hover_orange:hover {
	background-color: var(--orange-color);
}

.background_hover_yellow:hover {
	background-color: var(--yellow-color);
}

.background_hover_yellow_sand:hover {
	background-color: var(--yellow-sand-color);
}

.background_hover_light_brown:hover {
	background-color: var(--light-brown-color);
}

.background_hover_brown:hover {
	background-color: var(--brown-color);
}

.background_hover_darker_brown:hover {
	background-color: var(--darker-brown-color);
}

.background_hover_dark_brown:hover {
	background-color: var(--dark-brown-color);
}

.background_hover_pink:hover {
	background-color: var(--pink-color);
}

.background_hover_dark_pink:hover {
	background-color: var(--dark-pink-color);
}

.background_hover_salmon:hover {
	background-color: var(--salmon-color);
}

.background_hover_dark_salmon:hover {
	background-color: var(--dark-salmon-color);
}

.background_hover_darker_salmon:hover {
	background-color: var(--darker-salmon-color);
}

.background_hover_light_salmon:hover {
	background-color: var(--light-salmon-color);
}

.background_hover_purple:hover {
	background-color: var(--purple-color);
}

.background_hover_second_purple:hover {
	background-color: var(--second-purple-color);
}

.background_hover_second_dark_purple:hover {
	background-color: var(--second-dark-purple-color);
}

.background_hover_darker_purple:hover {
	background-color: var(--darker-purple-color);
}

.background_hover_light_purple:hover {
	background-color: var(--light-purple-color);
}

.background_hover_light_cyan:hover {
	background-color: var(--light-cyan-color);
}

.background_hover_darker_light_cyan:hover {
	background-color: var(--darker-light-cyan-color);
}

.background_hover_dark_cyan:hover {
	background-color: var(--dark-cyan-color);
}.text_grey {
	color: var(--grey-color);
}

.text_white {
	color: var(--white-color);
}

.text_black {
	color: var(--black-color);
}

.text_red {
	color: var(--red-color);
}

.text_dark_red {
	color: var(--dark-red-color);
}

.text_blue {
	color: var(--blue-color);
}

.text_darker_blue {
	color: var(--darker-blue-color);
}

.text_dark_blue {
	color: var(--dark-blue-color);
}

.text_super_dark_blue {
	color: var(--super-dark-blue-color);
}

.text_cyan {
	color: var(--cyan-color);
}

.text_green {
	color: var(--green-color);
}

.text_green_water {
	color: var(--green-water-color);
}

.text_dark_green_water {
	color: var(--dark-green-water-color);
}

.text_orange {
	color: var(--orange-color);
}

.text_yellow {
	color: var(--yellow-color);
}

.text_yellow_sand {
	color: var(--yellow-sand-color);
}

.text_light_brown {
	color: var(--light-brown-color);
}

.text_brown {
	color: var(--brown-color);
}

.text_darker_brown {
	color: var(--darker-brown-color);
}

.text_dark_brown {
	color: var(--dark-brown-color);
}

.text_pink {
	color: var(--pink-color);
}

.text_dark_pink {
	color: var(--dark-pink-color);
}

.text_salmon {
	color: var(--salmon-color);
}

.text_dark_salmon {
	color: var(--dark-salmon-color);
}

.text_darker_salmon {
	color: var(--darker-salmon-color);
}

.text_light_salmon {
	color: var(--light-salmon-color);
}

.text_purple {
	color: var(--purple-color);
}

.text_second_purple {
	color: var(--second-purple-color);
}

.text_second_dark_purple {
	color: var(--second-dark-purple-color);
}

.text_darker_purple {
	color: var(--darker-purple-color);
}

.text_light_purple {
	color: var(--light-purple-color);
}

.text_light_cyan {
	color: var(--light-cyan-color);
}

.text_darker_light_cyan {
	color: var(--darker-light-cyan-color);
}

.text_dark_cyan {
	color: var(--dark-cyan-color);
}.text_hover_grey:hover {
	color: var(--grey-color);
}

.text_hover_white:hover {
	color: var(--white-color);
}

.text_hover_black:hover {
	color: var(--black-color);
}

.text_hover_red:hover {
	color: var(--red-color);
}

.text_hover_dark_red:hover {
	color: var(--dark-red-color);
}

.text_hover_blue:hover {
	color: var(--blue-color);
}

.text_hover_darker_blue:hover {
	color: var(--darker-blue-color);
}

.text_hover_dark_blue:hover {
	color: var(--dark-blue-color);
}

.text_hover_super_dark_blue:hover {
	color: var(--super-dark-blue-color);
}

.text_hover_cyan:hover {
	color: var(--cyan-color);
}

.text_hover_green:hover {
	color: var(--green-color);
}

.text_hover_green_water:hover {
	color: var(--green-water-color);
}

.text_hover_dark_green_water:hover {
	color: var(--dark-green-water-color);
}

.text_hover_orange:hover {
	color: var(--orange-color);
}

.text_hover_yellow:hover {
	color: var(--yellow-color);
}

.text_hover_yellow_sand:hover {
	color: var(--yellow-sand-color);
}

.text_hover_light_brown:hover {
	color: var(--light-brown-color);
}

.text_hover_brown:hover {
	color: var(--brown-color);
}

.text_hover_darker_brown:hover {
	color: var(--darker-brown-color);
}

.text_hover_dark_brown:hover {
	color: var(--dark-brown-color);
}

.text_hover_pink:hover {
	color: var(--pink-color);
}

.text_hover_dark_pink:hover {
	color: var(--dark-pink-color);
}

.text_hover_salmon:hover {
	color: var(--salmon-color);
}

.text_hover_dark_salmon:hover {
	color: var(--dark-salmon-color);
}

.text_hover_darker_salmon:hover {
	color: var(--darker-salmon-color);
}

.text_hover_light_salmon:hover {
	color: var(--light-salmon-color);
}

.text_hover_purple:hover {
	color: var(--purple-color);
}

.text_hover_second_purple:hover {
	color: var(--second-purple-color);
}

.text_hover_second_dark_purple:hover {
	color: var(--second-dark-purple-color);
}

.text_hover_darker_purple:hover {
	color: var(--darker-purple-color);
}

.text_hover_light_purple:hover {
	color: var(--light-purple-color);
}

.text_hover_light_cyan:hover {
	color: var(--light-cyan-color);
}

.text_hover_darker_light_cyan:hover {
	color: var(--darker-light-cyan-color);
}

.text_hover_dark_cyan:hover {
	color: var(--dark-cyan-color);
}