.border_1px {
	border-width: 1px!important;
	border-style: solid!important;
}

.border_3px {
	border-width: 3px!important;
	border-style: solid!important;
}

.border_4px {
	border-width: 3px!important;
	border-style: solid!important;
}

.border_1px {
	border-width: 1px;
	border-style: solid;
}

.create_border_on_hover:hover {
	border-width:3px;
	border-style:solid;
	background-color:white!important;
}

.20px_font_size {
	font-size: 20px!important;
}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 684px) {
	.20px_font_size {
		font-size: 24px!important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
b {
	white-space: unset!important;
}

textarea {
	outline: none!important;
}

button,
span#notificationclose {
	padding: 15px 25px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	border-radius: 15px;
	box-shadow: 0 9px black!important;
	white-space: unset !important;
}

button:hover,
span#notificationclose {
	box-shadow: 0 9px black!important;
}

button:active,
span#notificationclose:active {
	box-shadow: 0 5px black!important;
	transform: translateY(4px)!important;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	width: 80%; /* Could be more or less, depending on screen size */
}

.modal_close_button {
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal_close_button:hover,
.modal_close_button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

button:hover h2 span.w3-text-white,
button:hover h2 span.w3-text-blue,
button:hover h2 span.w3-text-cyan,
button:hover h2 span.w3-text-orange,
button:hover h2 span.w3-text-grey,
button:hover h2 span.w3-text-yellow {
	color: black!important;
}

button:hover h4 span.w3-text-white,
button:hover h4 span.w3-text-blue,
button:hover h4 span.w3-text-cyan,
button:hover h4 span.w3-text-orange,
button:hover h4 span.w3-text-grey,
button:hover h4 span.w3-text-yellow {
	color: black!important;
}

.mobile_button_sidebar_css {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.mobile_button_sidebar_css a {
	padding: 6px 6px 6px 26px;
	text-decoration: none;
	font-size: 23px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.mobile_button_sidebar_css a:hover {
	color: #f1f1f1;
}

.mobile_button_sidebar_css a .close_mobile_sidebar_button {
	position: absolute;
	top: 0;
	right: 23px;
	font-size: 36px;
	margin-left: 50px;
}

:root {
	--one-dot-six-line-height: 1.6;
}

@media screen and (max-width: 2000px) {
	h2 {
		font-size: 30px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	h3 {
		font-size: 25px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	div.chapter-text-class {
		font-size: 18px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}
}

@media screen and (max-width: 1500px) {
	h2 {
		font-size: 25px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	h3 {
		font-size: 23px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	div.chapter-text-class {
		font-size: 16px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}
}

@media screen and (max-width: 1000px) {
	h2 {
		font-size: 18px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	h3 {
		font-size: 17px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	div.chapter-text-class {
		font-size: 14px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}
}

@media screen and (max-width: 700px) {
	h2 {
		font-size: 17px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	h3 {
		font-size: 16px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	div.chapter-text-class {
		font-size: 13px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}
}

@media screen and (min-width: 400px) and (max-width: 500px) {
	h2 {
		font-size: 19px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	h3 {
		font-size: 19px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	div.chapter-text-class {
		font-size: 13px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}
}

@media screen and (min-width: 100px) and (max-width: 300px) {
	h2 {
		font-size: 13px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	h3 {
		font-size: 14px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}

	div.chapter-text-class {
		font-size: 10px!important;
		line-height: var(--one-dot-six-line-height)!important;
	}
}

@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 684px){
		.videostyle {
		width: 350;
		height: 450;
	}
}

button:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake_side_to_side_animation_keyframe 0.8s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

span.w3-btn:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake_side_to_side_animation_keyframe 0.8s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

.shake_side_to_side_animation:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake_side_to_side_animation_keyframe 0.8s;
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

.animationthing {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake_side_to_side_animation_keyframe 0.5s;
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

@keyframes shake_side_to_side_animation_keyframe {
	0% {
		transform: translateX(-10px);
	}

	50% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(-10px);
	} 
}

.mobileShow { display: none; }

@media only screen
	and (min-device-width: 300px)
	and (max-device-width: 1350px) { 
		.mobileShow {display: block; }
}
 
.mobileHide { display: block; }

@media only screen
	and (min-device-width: 300px)
	and (max-device-width: 900px) {
	 .mobileHide { display: none; }
}

@media screen and (max-height: 450px) {
	.mobile_button_sidebar_css {padding-top: 15px;}
	.mobile_button_sidebar_css a {font-size: 18px;}
}

@media screen and (min-device-height: 500px) and (max-device-width: 1250px) {
	div[id=mobile_button_sidebar] a[onclick="Hide_Mobile_Buttons();"] button h4 {
		font-size: 18px;
	}
}

.gallerycontainer {
	position: relative;
	/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumbnail img {
	border: 1px solid white;
	margin: 0 5px 5px 0;
}

.thumbnail:hover {
	background-color: transparent;
}

.thumbnail:hover img {
	border: 1px solid blue;
}

.thumbnail span { /*CSS for enlarged image*/
	position: absolute;
	background-color: lightyellow;
	padding: 5px;
	left: -1000px;
	border: 1px dashed gray;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img { /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
}

.thumbnail:hover span { /*CSS for enlarged image*/
	visibility: visible;
	top: 0;
	left: 230px; /*position where enlarged image should offset horizontally */
	z-index: 50;
}

@font-face {
	font-family: 'icomoon';
	src:	url('Fonts/icomoon.eot');
	src:	url('Fonts/icomoon.eot') format('embedded-opentype'),
		url('Fonts/icomoon.ttf') format('truetype'),
		url('Fonts/icomoon.woff') format('woff'),
		url('Fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}