body { 
	background-image: url("../../Images/Website%20Images/My%20Little%20Pony/Friendship%20Is%20Magic/Mane%20Six/Color%20Gradient.png"); 
	background-position: center;
	background-repeat: repeat-y repeat-x;
	background-size: 100%;
}