body { 
    background-image:url("https://diario.netlify.app/cdn/img/BK1.gif");
    margin: 0;
    padding: 0;
} 

.smap { /* Sitemap */
    background-color: white;
    border: none;
    color: black;
    padding: 15px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
}

.smap:hover { /* Sitemap */
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.poc { /* Prints of Computer */
    background-color: transparent;
    border: none;
    padding: 0.2px 0.1px;
    float: left;
}

.poc:hover { /* Prints of Computer */
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pocm { /* Prints of Computer Mobile */
    background-color: #3f48cc;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.pocm:hover { /* Prints of Computer Mobile */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pocb { /* Prints of Computer Blocks */
    background-color: transparent;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.pocb:hover { /* Prints of Computer Blocks */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nw { /* Noteblock Website */
    background-color: transparent;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.nw:hover { /* Noteblock Website */
    background-color: transparent;
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.posts { /* Posts */
    background-color: transparent;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.posts:hover { /* Posts */
    background-color: transparent;
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pocm { /* Prints of Computer Mobile */
    background-color: #3f48cc;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.pocm:hover { /* Prints of Computer Mobile */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pocb { /* Prints of Computer Blocks */
    background-color: #FF7F27;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.pocb:hover { /* Prints of Computer Blocks */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nw { /* Noteblock Website */
    background-color: #00FF00;
    border: none;
    padding: 0.1px 0.001px;
    float: left;
}

.nw:hover { /* Noteblock Website */
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.posts { /* Posts */
    background-color: #00FF00;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.posts:hover { /* Posts */
    background-color: white;
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fulltext {
    color: #003300;
    text-shadow: 2px 1px #009900;
    font-family:arial; 
}

.btn-img {
	border:none;
	outline:0;
	padding:10px 10px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:transparent;
	background-color:inherit;
	text-align:center;
	cursor:pointer;	
}

.pad {
	padding:5px 0px;
}

.blackbg {
	background-color:black;
}

.tabcontent {
    display: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-top: none;
}

.date {
    width:auto;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:30px;
    color:#2e80bf;
    float:right;
    font-weight:normal;
    font-style:italic;
    margin:0;
    padding:0;
    display:inline-block;
}

.block {
	background-color:grey;
    color:#4CAF50;
}