body { 
    background-color: #04101a;
    margin: 0;
    padding: 0;
} 

.sl1 {
    background-color:#2196f3;
    color:black;
}

.sl2 {
    color:#2196f3;
}

.slhr {
    border:1px solid #2196f3;
}

.darksl {
    background-color:#555454;
}

.steam {
	color:#002953;
}

.steambg {
	background-color:#002953;
}

.menu {
	float: right;
}

.menu2 {
	width:10px;
	margin-left:1703px;
	padding: 500px 500px;
}