body { 
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
} 

audio {width:50%;}

.sts1 {
    backgroud-color:gray;
}

.sts2 {
    color:gray;
}

.stshr {
    border:1px solid gray;
}

.lista {
	width:17%;
}

.lista10 {
	width:10%;
}

.listalado {
	width:8.5%;
}

.steam {
	color:#002953;
}

.steambg {
	background-color:#002953;
}

.menu {
	float: right;
}

.menu2 {
	width:10px;
	margin-left:1703px;
	padding: 500px 500px;
}

.w {
	color:#2196F3;
}

a.wb {
	background-color:#2196F3!important;
	color:#000!important;
}

.tw {
	color:#4CAF50!important;
}

.twb {
	color:#000!important;
	background-color:#4CAF50!important;
}

.ter {
	text-align:center;
}

/*#playlist,audio{background:#666;width:400px;padding:20px;}
.active a{color:#5DB0E6;text-decoration:none;}
li a{color:#eeeedd;background:#333;padding:5px;display:block;}
li a:hover{text-decoration:none;}
*/

.selected {
    font-weight: bold
}

.smap { /* Sitemap */
    background-color: white;
    border: none;
    color: black;
    padding: 15px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
}

.smap:hover { /* Sitemap */
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.poc { /* Prints of Computer */
    background-color: transparent;
    border: none;
    padding: 0.2px 0.1px;
    float: left;
}

.poc:hover { /* Prints of Computer */
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pocm { /* Prints of Computer Mobile */
    background-color: #3f48cc;
    border: none;
    padding: 0.2px 0.1px;
    float: left;
}

.pocm:hover { /* Prints of Computer Mobile */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pocb { /* Prints of Computer Blocks */
    background-color: #FF7F27;
    border: none;
    padding: 0.3px 0.2px;
    float: left;
}

.pocb:hover { /* Prints of Computer Blocks */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nw { /* Noteblock Website */
    background-color: transparent;
    border: none;
    padding: 0.1px 0.001px;
    float: left;
}

.nw:hover { /* Noteblock Website */
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.posts { /* Posts */
    background-color: transparent;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.posts:hover { /* Posts */
    background-color: white;
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fulltext {
    color: #003300;
    text-shadow: 2px 1px #009900;
    font-family:arial; 
}
h3 { display:inline; }

.button2 { /* Posts */
    background-color: grey;
    border: none;
    color: black;
    padding: 15px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    float: ;
}

.button2:hover { /* Posts */
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



/* Top,bottom buttons */

.button3 { /* bottom button */
    background-color: Transparent;
    position:fixed;
    border: none;
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    bottom: 500px;
    right: 0px; 
}

/* .button3:hover {
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

.button4 { /* top button */
    background-color: Transparent;
    position: fixed;
    border: none;
    color: black;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    bottom: 445px;
    right: 0px; 
}

/* .button4:hover {
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */



.button6 { /* sitemap button */
    background-color: blue;
    border: none;
    color: black;
    padding: 15px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
}

.button6:hover {
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button7 { /* Noteblock Website */
    background-color: #3f48cc;
    border: none;
    padding: 0.2px 0.1px;
    float: left;
}

.button7:hover { /* Noteblock Website */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.date {
    width:auto;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:31px;
    color:#black;
    font-weight:normal;
    font-style:bold;
    margin:0;
    padding:0;
    display:inline-block;
    border: 1;
}

a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}