body { 
    background-image: url("https://thestake2.netlify.app/Images/Website Images/The Secret of the Crystals/Background.png");
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}