<body class="{$website['style']['body']}" {$website["javascript"]["class_attributes"]["body"]}>
<center>

<!-- Website header -->
<div class="w3-container w3-animate-zoom {$website['style']['tab']['theme_dark']}" style="padding: 20px; width: 45%">
	<!-- Website title -->
	<h3 class="text_size {$website['style']['text']['theme']['dark']}">
		<b>{$website["language_texts"]["website_title"]}:</b>
	</h3>

	<h3 class="text_size {$website['style']['text_highlight']}">
		<b>{$website["data"]["titles"]["backup"]}</b>
	</h3>
	<br />

	<!-- Website language -->
	<h3 class="text_size {$website['style']['text']['theme']['dark']}">
		<b>{$website["language_texts"]["language, title()"]}:</b>
	</h3>

	<h3 class="text_size {$website['style']['text_highlight']}">
		<b>{$website["full_language"]}</b>
	</h3>
	<br />

	<!-- Local website folder -->
	<h3 class="text_size {$website['style']['text']['theme']['dark']}">
		<b>{$website["language_texts"]["local_website_folder"]}:</b>
	</h3>

	<h3 class="text_size {$website['style']['text_highlight']}">
		<a href="file:///{$website['data']['folders']['local_website']['language']}" target="_blank">
			<b>{$website["data"]["folders"]["local_website"]["language"]}</b>
		</a>
	</h3>
	<br />

	<!-- Remote website folder -->
	<h3 class="text_size {$website['style']['text']['theme']['dark']}">
		<b>{$website["language_texts"]["remote_website_folder"]}:</b>
	</h3>

	<h3 class="text_size {$website['style']['text_highlight']}">
		<a href="{$website['data']['folders']['website']['language']}" target="_blank">
			<b>{$website["data"]["folders"]["website"]["language"]}</b>
		</a>
	</h3>
	<br />

	<!-- Website content state -->
	<h3 class="text_size {$website['style']['text']['theme']['dark']}">
		<b>{$website["language_texts"]["content_state"]}:</b>
	</h3>

	<h3 class="text_size {$website['style']['text_highlight']}">
		<b>{$website["state"]}.</b>
	</h3>
	<br />
</div>

{$website["content"]}