<body class="{$website['style']['body']}" {$website["javascript"]["class_attributes"]["body"]}>
<center>
{$website["buttons"]}

<!-- Website header -->
<div id="header" class="w3-container w3-animate-zoom {$website['style']['header']} header_size" style="height: auto; border-radius: 50px; border-style: solid; border-width: 4px!important;">
	<!-- Website title -->
	<h2 class="text_size">
		<p><br /><b>{$website["data"]["titles"]["icon"]}</b><br /><br /><p>
	</h2>

	<!-- Website image -->
	{$website["data"]["image"]["elements"]["theme"]["light"]}
	<br />

	<!-- Website description -->
	<h4 class="text_size">
{$website["data"]["description"]["header"]}
	</h4>
	<br />
</div>

{$website["content"]}